<?xml version="1.0"?>

<launch>

  <!-- run the generated world in gazebo -->
  <include file="$(find racecar_gazebo)/launch/racecar_tunnel.launch"/>

  <!-- run tutorial.launch file -->

  <!-- <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/> -->

  <!-- <param name="/use_sim_time" value="false"/>  -->

  <!-- <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>  -->
  
  <!-- <include file="$(find hector_mapping)/launch/mapping_default.launch"/> -->

  <!-- <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>   -->


  <include file="$(find hector_slam_launch)/launch/tutorial.launch"/>


  <!--<node name="static_tf1" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0  /odom /base_link 100"/>-->

  <node name="rrt_planner" pkg="racecar_control" type="rrt_planner.py" output="screen" launch-prefix="xterm -e"/>

  <node name="pid_controller" pkg="racecar_control" type="pure_pursuit_controller_gazebo_testing_version.py" output="screen" launch-prefix="xterm -e"/>

  <node pkg="rosbag" type="record" name="robot_bag" 
  	args="-o /home/f1/catkin_ws/src/racecar_simulator/racecar_gazebo/launch/test_runs/test_results/  	/drive_parameters" />
</launch>

